<button data-filter-form-toggle class="filter-form-toggle" type="button">
    Filter
</button>
<div data-filter-tag class="filter-tag">
    <ul>
        {{#each searchFacets}}
            {{#each items}}
                {{#if checked}}
                    <li class="filter-tag-item">
                        {{label}}
                        <button
                                data-filter-tag-remove='{"key": "{{../name}}", "value": "{{value}}"}'
                                class="filter-tag-remove"
                                type="button"
                                {{#if ../removable}}{{else}}disabled{{/if}}>
                        </button>
                    </li>
                {{/if}}
            {{/each}}
        {{/each}}
    </ul>
</div>
<form data-filter-form class="filter-form">
    <div class="filter-form-counter">
        {{response.totalItems}} products
    </div>
    {{#each searchFacets}}
        <div class="filter-form-item" data-filter-form-group='{{name}}'>
            <button class="filter-form-item-button" type="button" data-filter-form-group-toggle>
                {{label}}
            </button>
            <div class="filter-form-item-options">
                {{#each items}}
                    <div class="filter-form-checkbox">
                        <input id="{{../name}}-{{value}}" name="{{../name}}" value="{{value}}" type="radio" {{#if checked}}checked{{/if}} />
                        <label for="{{../name}}-{{value}}">
                            {{label}}
                        </label>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/each}}
</form>
<div class="filter-list">
    {{#if error}}
        <div class="filter-list-error">
            <div class="filter-list-error-text">
                {{error.status}} {{error.statusText}}
            </div>
        </div>
    {{else}}
        {{#if response.items.length}}
            <ul class="filter-list-list">
                {{#each response.items}}
                    <li class="filter-list-item">
                        <a href="{{selfLink}}" class="filter-list-item-button">
                            {{#if volumeInfo.imageLinks.smallThumbnail}}
                                <div class="filter-list-item-image" style="background-image: url('{{volumeInfo.imageLinks.smallThumbnail}}')"></div>
                            {{/if}}
                            <div class="filter-list-item-text">
                                {{#if volumeInfo.publisher}}
                                    <div class="filter-list-item-brand">
                                        {{volumeInfo.publisher}}
                                    </div>
                                {{/if}}
                                <div class="filter-list-item-name">
                                    {{volumeInfo.title}}
                                </div>
                                <div class="filter-list-item-price">
                                    {{saleInfo.listPrice.currencyCode}}
                                    {{saleInfo.listPrice.amount}}
                                </div>
                            </div>
                        </a>
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <div class="filter-list-empty">
                <div class="filter-list-empty-text">
                    No products found
                </div>
            </div>
        {{/if}}
    {{/if}}
</div>